@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark min-h-screen;
}

body {
  transition-property: all;
  transition-duration: 1000ms;
}

a:hover {
  text-decoration: underline;
}
