@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark min-h-screen;
}

body {
  transition-property: all;
  transition-duration: 100ms;
  background: #0D1117;
}
